html {
  font-size: calc(10px + 0.25vw);
}

body {
  color: #14141c;
  font-family: "Overpass Mono", monospace;
  font-weight: 300;
  letter-spacing: -1px;
}

a {
  text-decoration: none;
  color: #75758d;
  padding: 11px 19px;
  letter-spacing: 0.1px;
  text-decoration: underline;
}

a:hover {
  border: 0px solid transparent;
  font-weight: bold;
  color: #999;
  text-decoration: none;
  background: #f6f6f6;
  border-radius: 35px;
}

h1 {
  font-family: "Ovo", serif;
  font-size: 2.7em;
  font-weight: 400;
}

h2 {
  font-family: "Ovo", serif;
  font-size: 2.5em;
  font-weight: 400;
}

h3 {
  color: #14141c;
  letter-spacing: 5px;
  font-size: 0.85em;
}

p {
  color: #75758d;
  line-height: 1.45em;
}

.after-fold {
  margin-top: calc(50vh);
}
.shadow {
  box-shadow: 0px 60px 60px -10px rgba(0, 0, 0, 0.07);
  margin-bottom: calc(15vh);
  border-radius: 8px;
  box-sizing: border-box;
  -webkit-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  -moz-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  -o-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1); /* custom */
}

.lh-1-75 {
  line-height: 1.75em;
}

.case-study {
  width: 100%;
  overflow: hidden;
  transition: 0.5s linear;
}

.case-study-img {
  -webkit-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  -moz-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  -o-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1); /* custom */
  width: 100%;
}

.shadow:hover {
  cursor: pointer;
  box-shadow: 0px 30px 45px -5px rgba(0, 0, 0, 0.19);
}

.shadow:hover .case-study-text {
  opacity: 0;
}

.shadow:hover .case-study-img {
  margin-left: 74%;
}

.case-study-text {
  width: 100%;
  -webkit-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  -moz-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  -o-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1); /* custom */
}

.case-study:hover .case-study-text {
  margin-left: 130%;
}

.cta {
  margin-left: -75%;
  width: 75%;
  background: #ebebeb;
  height: 100%;
  -webkit-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  -moz-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  -o-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1); /* custom */
  text-align: left;
  padding: 3em;
  vertical-align: bottom;
  position: relative;
  box-sizing: border-box;
}

.cta span {
  font-family: "Ovo", serif;
  font-size: 2em;
  color: #14141c;
  letter-spacing: 0.5px;
  bottom: 1.5em;
  position: absolute;
  left: 1.5em;
}

.case-study:hover .cta {
  margin-left: 0%;
  -webkit-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  -moz-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  -o-transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1);
  transition: all 900ms cubic-bezier(0.21, 0.535, 0.565, 1); /* custom */
}

.cta span:hover {
}

.v-align-mid {
  margin-top: 50%;
  transform: translateY(-22%);
}
